In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('WHRData2021.csv')

1. How Big is the data?

In [ ]:
df.shape

(166, 17)

2. How does the data look?

In [ ]:
df.sample(5)

    Country name  ...  Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average
47   Philippines  ...                                                NaN
5         Jordan  ...                                                NaN
53       Myanmar  ...                                                NaN
137       Norway  ...                                              9.998
9      Indonesia  ...                                                NaN

[5 rows x 17 columns]

3. What is the data type of the columns?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 17 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Country name                                                                 166 non-null    object
 1   Population 2020                                                              164 non-null    float64
 2   Population 2019                                                              164 non-null    float64
 3   COVID-19 deaths per 100,000 population in 2020                               163 non-null    float64
 4   Median age                                                                   163 non-null    float64
 5   Island                                                                       166 non-null    int64
 6   Index of exposure to COVID-19  infections in other countries as of March 31  164 non-null    float64
 7   Log of average distance to SARS countries                                    164 non-null    float64
 8   WHO Western Pacific Region                                                   166 non-null    int64
 9   Female head of government                                                    166 non-null    int64
 10  Index of institutional trust                                                 165 non-null    float64
 11  Gini coefficient of income                                                   164 non-null    float64
 12  All-cause death count, 2017                                                  63 non-null     float64
 13  All-cause death count, 2018                                                  64 non-null     float64
 14  All-cause death count, 2019                                                  64 non-null     float64
 15  All-cause death count, 2020                                                  65 non-null     float64
 16  Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average  64 non-null     float64
dtypes: float64(13), int64(3), object(1)
memory usage: 22.2+ KB

4. Are there any missing values?

In [ ]:
df.isnull().sum()

Country name                                                                     0
Population 2020                                                                  2
Population 2019                                                                  2
COVID-19 deaths per 100,000 population in 2020                                   3
Median age                                                                       3
Island                                                                           0
Index of exposure to COVID-19  infections in other countries as of March 31      2
Log of average distance to SARS countries                                        2
WHO Western Pacific Region                                                       0
Female head of government                                                        0
Index of institutional trust                                                     1
Gini coefficient of income                                                       2
All-cause death count, 2017                                                    103
All-cause death count, 2018                                                    102
All-cause death count, 2019                                                    102
All-cause death count, 2020                                                    101
Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average    102
dtype: int64

5. How does the data look mathematically?

In [ ]:
df.describe()

       Population 2020  ...  Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average
count     1.640000e+02  ...                                          64.000000
mean      4.718124e+07  ...                                         109.163500
std       1.598697e+08  ...                                          82.578274
min       3.412500e+05  ...                                         -26.468000
25%       4.827881e+06  ...                                          34.934250
50%       1.126017e+07  ...                                         104.438000
75%       3.380537e+07  ...                                         170.728750
max       1.439324e+09  ...                                         323.476000

[8 rows x 16 columns]

6. Are there duplicated values?

In [ ]:
df.duplicated().sum()

0

7. How is the correlation between the columns?

In [ ]:
df.corr()['COVID-19 deaths per 100,000 population in 2020']

Population 2020                                                               -0.056084
Population 2019                                                               -0.054831
COVID-19 deaths per 100,000 population in 2020                                 1.000000
Median age                                                                     0.559788
Island                                                                        -0.164122
Index of exposure to COVID-19  infections in other countries as of March 31    0.646555
Log of average distance to SARS countries                                      0.208331
WHO Western Pacific Region                                                    -0.234948
Female head of government                                                     -0.112024
Index of institutional trust                                                  -0.371665
Gini coefficient of income                                                    -0.220137
All-cause death count, 2017                                                    0.158215
All-cause death count, 2018                                                    0.156650
All-cause death count, 2019                                                    0.155317
All-cause death count, 2020                                                    0.182418
Excess deaths in 2020 per 100,000 population, relative to 2017-2019 average    0.689591
Name: COVID-19 deaths per 100,000 population in 2020, dtype: float64